
body{
    background-color: rgba(220, 253, 255, 0.15);
}

header p{
    margin-left: 90%;   
}

.contenedor{
    max-width: 1200px;
    margin: 0 auto;
    
}

.contenedor nav{
    background-color: rgb(255, 255, 255);
}

.contenedor nav p{
    width: 25%;
    text-align: center;
}

.actualizaciones{
    width: 75%;
    margin: 0 auto;
    height: 400px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgba(220, 253, 255, 0.15);
}

.actualizaciones h2{
    margin: 15px 0px 0px 15px;
}

aside.pizarron{
    float: right;
    margin-right: 2%;
    width: 20%;
    height: 200px;
    border: 3px solid rgb(95, 94, 94);
    border-bottom: 8px solid rgb(95, 94, 94) ;
    background-color: forestgreen;
    margin-top: 3%;
    padding-top: 40px;
    border-radius: 5px;
}


table th{
    color: whitesmoke;
}
table td{
    color: whitesmoke;
}

table th{
    text-indent: 5px;
    font-size: 40px;
    font-family: 'Gloria Hallelujah', cursive;    
}

table td{
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
    font-family: 'Gloria Hallelujah', cursive;
}

.overflow-auto{
    max-width: 800%;
    height: 300px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0px 50px 0px 50px; 
}

.card{
    margin: 0 auto;
    margin-top: 30%;
}   

.procesos{
    float: left;
    margin-top: 10%;
    
}

.procesos li{
    padding-bottom: 25px;
    padding-left: 20px;
    list-style: none;
}

.procesos h2{
    padding-left: 55px;
    padding-bottom: 25px;
}

.modal-body label{
    text-align: left;
    width: 150px;
}

.modal-body li{
    list-style: none;
}

.btbuscar{
    /*border: solid rgb(121, 123, 133);*/
    background-color: rgb(121, 123, 133);
    color: white;
    width: 250px;
    height: 50px;
    margin: 0 auto;
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
}

.btbuscar:hover{
    background-color: rgb(30, 109, 255);
    color: #ffffff;
}
